*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #0B0D16;
}
.container{
    position: relative;
    margin: 54px 42px;
    background-color: #0C0F1C;
    height: 90vh;
    overflow: hidden;
    border-radius: 12px;
}
.topbar{
    display: flex;
    align-items: center;
    color:#E5E5E5;
    background-color: #2A324F;
    width: 100%;
    height: 54px;
    padding: 10px;
    border-radius: 12px;
}
.topbar p{
    font-size: 1.75rem;
    font-weight: 600;
    margin-right: 16px;
    margin-left: 16px;
}
.topbar img{
    height: 56px;
    margin-left: 20px;
    border-right:2px solid #7289DA ;
}
.topbar .dp{
    height: 46px;
    margin-left: 20px;
    border-right: none;
}
.topbar .current-user{
    font-size: 20px;
}
ul{
    list-style: none;
    padding: 0;

}
.main-section{
    display: flex;
    height: 90%;
}
.side-panel{
    width: 264px;
    height: 95%;
    padding: 10px;
    border-right: 2px solid #3F4B77;
}
.added-user{
    display: flex;
    align-items: center;
    color: #E5E5E5;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 2px solid #3F4B77;
    /* border-right: 2px solid #3F4B77; */
    padding: 10px;
}
.added-user img{
    height: 46px;
    margin-right: 16px;
    margin-left: 10px;
}
.chat-section{
    flex-grow: 1;
}
.message-area {
    height: 85%;
    padding: 0 20px;
    color: #E5E5E5;
    font-size: 16px;
    font-weight: 600;
    overflow-y: auto;
}
.message-area {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.message-area::-webkit-scrollbar {
    display: none;
}   
.received{
    margin-top: 20px;
    width: auto;
    padding:6px ;
    border-radius: 12px;
    background-color: #191E2F;
}
.received p{
    margin-left: 10px;
}
.sent{
    text-align: right;
    margin-top: 20px;
    width: auto;
    padding:6px ;
    border-radius: 12px;
    background-color: #2A324F;
}
.sent p{
    margin-right: 10px;
}
form input {
    border: none;
    background-color: #2A324F;
    width: 60%;
    height: 46px;
    padding-left: 10px;
    border-radius: 12px;
    font-size: 16px;
    color: #E5E5E5;
    font-weight: 600;
    margin: 0;
    vertical-align: middle; 
}

button {
    padding: 4px 10px;
    border: none;
    border-radius: 6px;
    background-color: #2A324F;
    margin: 0;
    margin-left: 10px;
}

button img {
    margin-top: 2px;
}

form {
    height: 80px;
    background-color: #181C2B;
    padding: 10px;
    display: flex;
    align-items: center;
    padding-top: 0;
}