*{
    margin: 0;
    padding: 0;
    
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:  #0B0D16;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 12px;
}
p{
    color: #E9E9E9;
    font-size: 4rem;
    font-weight: 600;
    line-height:68px;
    text-align: center;
    
}
.desc{
    line-height: 40px;
    font-size: 1rem;
    font-weight: 500;
    color: #A5A5A5;

}
label{
    font-weight: 600;
    font-size: 14px;
    margin: 10px;
    margin-left: 0;
    color:#E9E9E9;
    display: block;
}
form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
input{
    color: #E9E9E9;
    width: 440px;
    height: 20px;
    background-color: #2A324F;
    border-radius: 6px;
    border: none;
    padding: 10px;
}
button{
    margin-top: 10px;
    color: #E9E9E9;
    background-color: #428CFC;
    width: 30%;
    border: none ;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 6px;
    align-self: flex-end; 
}
.Already{
    height: 10px;
    display: inline;
    color: #A5A5A5;
    font-size: 0.8rem;
    align-self: flex-start;
}
a{
    color: #428CFC;
}
.registered{
  display: none;
  justify-content: center;
  font-weight: 600;
  align-items: center;
  width:100%;
  max-width: 400px;
  height: 44px;
  border-radius: 12px;
  border:2px solid #346532;
  background-color: #D4EDDA;
  position: absolute;
  top:5rem;
}
.registered p{
    font-size: 0.9rem;
    color:#346532;
}

.usernameExists{
    display: none;
    justify-content: center;
    font-weight: 600;
    font-size: 0.9rem;
    align-items: center;
    width:100%;
    max-width: 400px;
    height: 44px;
    color:#B53535;
    border-radius: 12px;
    border:2px solid #B53535;
    background-color: #EDD4D4;
    position: absolute;
    top:5rem;
  }

  .usernameExists p{
    color: #B53535;
    font-size: 0.9rem;
  }